<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <%= render 'dashboard/partials/navbar' %>
  <div class="mx-auto md:w-2/3 w-full py-10">
    <%= render partial: 'providers/partials/header', locals: { providers: @providers } %>
    <%= render partial: 'providers/partials/providers_table' %>
  </div>
</div>
