<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <div class="absolute right-0 top-0 mt-3">   
    <%= render 'dashboard/partials/menu' %>
  </div>
  <div class="mx-auto md:w-2/3 w-full py-10">
    <div class="flex justify-between items-center mb-4">
      <h1 class="font-bold text-3xl">Providers</h1>
      <%= link_to 'New provider',
        new_provider_path,
        class: "text-white bg-blue-700 font-medium rounded-lg text-sm w-full px-5 py-2.5 mt-4 text-center cursor-pointer hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 sm:w-auto" %>
    </div>
    <%= render partial: 'providers/partials/providers_table' %>
  </div>
</div>
