<% unless @sales.empty? %>
  <div class="col-span-full bg-white shadow-lg rounded-sm border border-gray-200 xl:col-span-6 ">
    <header class="px-5 py-4 border-b border-gray-100">
      <h2 class="font-bold text-gray-800">List of Sales</h2>
    </header>
    <div class="p-3">
      <!-- Table -->
      <div class="overflow-x-auto">
        <table class="table-auto border-separate w-full">
          <!-- Table header -->
          <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
            <tr>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Code</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Name</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Price</div>
              </th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            <% @sales.each do |sale| %>
              <tr class="border-b">
                <td class="text-sm text-gray-900 font-semibold px-2 py-4 whitespace-nowrap">
                  <%= sale.id %>
                </td>
                <td class="text-sm text-gray-900 font-medium px-2 py-4 whitespace-nowrap">
                  <%= sale.client_id %>
                </td>
                <td class="text-sm text-gray-900 font-normal px-2 py-4 whitespace-nowrap ">
                  <%= sale.total %>
                </td>
                <td class=" text-center text-sm text-gray-900 font-normal py-4 max-w-[100px]">
                  <div class="flex justify-center space-x-2">
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <h2 class="text-center font-bold text-3xl">
    There are no sales!
  </h2>
<% end %>
