<body class="h-screen bg-gray-100 font-sans">
    
   <%= render 'nav' %>
      
<div class="flex flex-row flex-wrap flex-1 flex-grow content-start pl-16">
      <div id="dash-content" class="bg-gray-200 py-6 lg:py-0 w-full lg:max-w-sm flex flex-wrap content-start">
        <h1 class="pl-2">Datos del negocio</h1>
      </div>
   </div>
</body>