<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <%= render 'dashboard/partials/navbar' %>
  <div class="hero-gradient mx-auto w-full md:w-3/3">
    <%= render 'dashboard/partials/welcome' %>
  </div>
</div>
