<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing inventory</h1>

  <%= render "form", inventory: @inventory %>

  <%= link_to "Show this inventory", @inventory, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to inventories", inventories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
