<div class="h-full bg-gray-100 ">
  <%= render 'dashboard/sidebar' %>
  <%= render 'dashboard/partials/navbar' %>
  <div class="mx-auto md:w-2/3 w-full py-10">
    <%= render 'resupplies/partials/header' %>
    <%= render 'resupplies/partials/resupplies_table' %>
  </div>
</div>
