<div class="h-screen bg-gray-100 ">
  <%= render 'dashboard/sidebar' %>
  <div class="flex flex-row flex-wrap flex-1 flex-grow content-start pl-16">
    <div class="mx-auto md:w-2/3 w-full py-10">
      <%= render 'resupplies/partials/header' %>
    </div>
    <div class="mx-auto md:w-2/3 w-full py-10">
      <%= render 'resupplies/partials/resupplies_table' %>
    </div>
  </div>
</div>
