<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Sales</h1>
    <%= link_to 'New resupply', new_resupply_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <% @resupplies.each do |resupply| %>
        <tr>
          <td>
            <%= resupply.quantity %>
          </td>
          <td>
            <%= resupply.comment %>
          </td>
          <td>
            <%= link_to 'Details', resupply_path(resupply) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
