<nav
  class="
    bg-white
    w-full
    nunito
    flex
    relative
    justify-between
    items-center
    h-16
    mx-auto
    shadow
    px-5
  "
>
  <!-- logo -->
  <div class="inline-flex">
    <a href="<%= root_path %>">
      <div class="md:block">
        <img
          id="sapec-logo"
          src="<%= asset_path('navbar-logo.png')%>"
          class="w-16 ml-16 my-10 mx-auto"
        />
      </div>
    </a>
  </div>

  <div class="flex-initial">
    <div class="flex justify-end items-center relative">
      <div class="flex mr-4 items-center">
        <div class="block relative">
        </div>
      </div>
      <%= render 'dashboard/partials/menu' %>
    </div>
  </div>
</nav>
