@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --hero-gradient: linear-gradient(-225deg, #cbbacc 0%, #8aa3c2 65%);
  --button-gradient: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.hero-gradient {
  background-image: var(--hero-gradient);
}

.bg-landing-button {
  background-color: #f39f86;
  background-image: var(--button-gradient);
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  height: 60vh;
  position: relative;
}

.browser-mockup:before {
  background-color: #f44;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  content: '';
  display: block;
  height: 0.5em;
  left: 1em;
  position: absolute;
  top: -1.25em;
  width: 0.5em;
}

.browser-mockup > * {
  display: block;
}
