<div
  class="
    h-4/4
    w-full
    bg-gradient-to-tl
    from-green-400
    to-indigo-900
    px-4
    py-16
  "
>
  <div class="w-full max-w-md mx-auto my-6">
    <div class="bg-white shadow p-3 mb-5 rounded px-8 pt-6 pb-8">
      <%= yield :form_wrap %>
    </div>
  </div>
</div>
