<div class="h-full bg-gradient-to-tl from-green-400 to-indigo-900 w-full py-16 px-4 sm:w-50">
  <div class="w-full max-w-md mx-auto my-6 sm:w-48">
    <div class="bg-white shadow p-3 mb-5 bg-whit rounded px-8 pt-6 pb-8 sm:w-50">

      <%= yield :form_wrap %>
    </div>
  </div>
</div>