<div class="flex flex-col justify-center text-center">
  <h1 class="my-4 text-2xl font-black leading-tight md:text-3xl lg:text-5xl">
    <%= t("hero_message") %>
  </h1>
  <p class="leading-normal text-gray-800 text-base mb-8 md:text-xl lg:text-4xl">
    <%= t("sub_message") %>
  </p>
  <img
    id="sapec-logo"
    src="<%= asset_path('sapec-logo.png')%>"
    class="w-64 my-10 mx-auto"
  />
  <%= link_to t("button_start"),
    new_user_registration_path,
    class: "bg-landing-button self-center text-gray-800 font-extrabold rounded mt-12 py-4 px-8 shadow-lg w-48 md:my-6 hover:underline" %>

</div>
