<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <%= render 'dashboard/partials/navbar' %>
  <div
    class="
      w-full
      p-6
      rounded-lg
      mx-auto
      bg-white
      mb-6
      mt-8
      drop-shadow-lg
      sm:w-4/5
      md:w-2/3
      lg:w-3/5
      xl:w-1/2
      2xl:w-2/5
    "
  >
    <h1
      class="
        text-xl
        text-center
        font-black
        leading-tight
        md:text-2xl
        lg:text-3xl
      "
    >
      Editing info
    </h1>
    <%= render 'users/partials/form' %>
  </div>
</div>
