<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <%= render 'dashboard/partials/navbar' %>
  <div class="mx-auto md:w-2/3 w-full py-10">
    <%= render partial: 'clients/partials/header', locals: { clients: @clients } %>
    <%= render partial: 'clients/partials/clients_table' %>
  </div>
</div>
