<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <div class="p-4 lg:px-0">
    <div class="w-full p-6 rounded-lg mx-auto bg-white drop-shadow-lg lg:w-2/5">
      <h2
        class="
          text-xl
          text-center
          font-black
          leading-tight
          sm:w-4/5
          md:w-2/3
          lg:w-3/5
          xl:w-1/2
          2xl:w-2/5
        "
      >
        New client
      </h2>
      <%= render "form", client: @client %>
    </div>
  </div>
</div>
