Resolving dependencies... Resolving dependencies...
<div>
  <p class="font-bold text-green-400 text-6xl">
    SAPECA
  </p>
  <p>
    Current logged user:
    <%= current_admin && current_admin.email %>
  </p>
</div>
