<div class="h-screen bg-gray-100">
  <%= render 'dashboard/nav' %>
  <div class="p-4 lg:px-0">
    <div
      class="
        w-full
        p-6
        rounded-lg
        mx-auto
        bg-white
        drop-shadow-lg
        w-2/3
        lg:w-3/5
        xl:w-1/2
        2xl:w-2/5
      "
    >
      <h2
        class="
          text-xl
          text-center
          font-black
          leading-tight
          md:text-2xl
          lg:text-3xl
        "
      >
        Add an existing account
      </h2>

      <%= render 'businesses/employees/partials/add_existing_user' %>

      <div class="w-full flex items-center justify-between py-5">
        <hr class="w-full bg-gray-400">
        <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OR</p>
        <hr class="w-full bg-gray-400 ">
      </div>

      <h2
        class="
          text-xl
          text-center
          font-black
          leading-tight
          md:text-2xl
          lg:text-3xl
        "
      >
        Create a user account
      </h2>

      <%= render 'businesses/employees/partials/create_user' %>

    </div>
  </div>
</div>
