@import url("pages/landing.css");
@import url("pages/dashboard.css");

html {
  background-color: rgb(243 244 246);
  height: 100%;
}

body {
  height: 100vh;
}

main {
  height: 100vh;
}

.dashboard-content {
  height: calc(100% - 64px);
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .desktop {
    display: none;
  }
  .item {
    border: solid 2px red;
  }
}
