<div class="flex relative inline-block pr-6">
  <div class="relative text-sm">
    <button id="userButton" class="flex items-center focus:outline-none mr-3">
      <img class="w-8 h-8 rounded-full mr-4" src="http://i.pravatar.cc/300" alt="Avatar of User" />
      <span class="hidden md:inline-block">Hi, User </span>
      <%= show_svg 'arrow_down.svg' %>
    </button>
    <div id="userMenu"
      class="bg-white nunito rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
      <ul class="list-reset">
        <li>
          <a href="#"
            class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">My
            account</a>
        </li>
        <li>
          <a href="#"
            class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">Notifications</a>
        </li>
        <li>
          <hr class="border-t mx-2 border-gray-400" />
        </li>
        <li>
          <a href="#"
            class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
