<% unless @enrollments.empty? %>
<div
  class="
    col-span-full
    bg-white
    shadow-lg
    rounded-sm
    border
    border-gray-200
    xl:col-span-6
  "
>
  <header class="px-5 py-4 border-b border-gray-100">
    <h2 class="font-bold text-gray-800">List of Employees</h2>
  </header>
  <div class="p-3">
    <!-- Table -->
    <div class="overflow-x-auto">
      <table class="table-auto w-full">
        <!-- Table header -->
        <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
          <tr>
            <th class="p-2 whitespace-nowrap">
              <div class="font-bold text-left">Name</div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-bold text-left">Email</div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-bold text-left">Role</div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-bold text-center">Remove from bussines</div>
            </th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <tr class="border-b">
              <td class="text-sm text-gray-900 font-semibold px-2 py-4 whitespace-nowrap">
                <%= enrollment.user.name %>
              </td>
              <td class="text-sm text-gray-900 font-medium px-2 py-4 whitespace-nowrap">
                <%= enrollment.user.email %>
              </td>
              <td
                class="
                  text-sm
                  text-gray-900
                  font-normal
                  px-2
                  py-4
                  whitespace-nowrap
                  uppercase
                "
              >
                <%= enrollment.role %>
              </td>
              <% if can? :remove_employee, current_user %>
                <td
                  scope="col"
                  class="
                    text-center
                    text-sm
                    text-gray-900
                    font-normal
                    px-2
                    py-4
                    whitespace-nowrap
                  "
                >
                  <%= button_to 'Remove',
                    remove_employee_from_current_business_path,
                    method: :delete,
                    params: { user_id: enrollment.user.id },
                    class: 'bg-red-600 text-white font-bold py-2 px-6 rounded-full hover:bg-red-500',
                    form: { data: { turbo_confirm: 'Are you sure?' } } %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% else %>
  <h2 class="text-center font-bold text-3xl">
    No Employees registered!
  </h2>
<% end %>

