<div class="px-2 w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Employees</h1>

    <% if can? :create_and_enroll, current_user %>
      <%= link_to 'New employee',
        new_employee_path,
        class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <% end %>
  </div>
  <h2>
      Your current role for this business is:&nbsp;<%= @current_user_enrollment.role %>
    </h2>
</div>
