<div class="px-2 w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Inventory</h1>

    <% if can? :create, Product %>
      <%= link_to 'New product',
        new_product_path,
        class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>

    <% end %>
  </div>
</div>
