<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <div class="mx-auto w-full py-10 md:w-2/3">
    <%= render 'products/partials/header' %>
    <%= render 'products/partials/products_table' %>
  </div>
</div>
