<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <%= render 'dashboard/partials/navbar' %>
  <div class="mx-auto w-full py-5 md:w-2/3">
    <div class="bg-white shadow-lg rounded-sm border border-gray-200 p-5">
      <%= render 'sales/partials/sale', sale: @sale %>
      <%= link_to 'Back to sales', sales_path, class: "mt-5 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
</div>
