<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <div class="mx-auto w-full py-10 md:w-2/3">
    <%= render @sale %>
   <div class="flex items-center space-x-2">
    <%= form_with url: sale_details_pdf_path(id: @sale.id, format: :pdf), method: :get do |form| %>
      <%= form.submit 'Download sale details', class: '', :formtarget => "_blank" %>
    <% end %>
    </div>
  </div>
</div>
